# OSX
*.DS_STORE

# Terragrunt
.terragrunt-cache

# Idea
.idea/

# VS Code
.vscode

# Terraform
.terraform
*.tfstate
*.tfstate.*
*_terraplan

# Idea
.idea/

# Node
package-lock.json
node_modules/

# Build
build/

# Checkov Tests
*.xml
